.btn{
    border-radius: 0px;
}
.row1{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.col1{
    margin: 0% 5% 0;
    float: right;
    font-family: monospace;
    font-size: larger;
}
